<div id="celeb-show">
    <h2>{{title}}</h2>
    <br>
    <h3>Name: {{celebrity.name}}</h3>
    <h4>Occupation: {{celebrity.occupation}}</h4>
    <h5>Catch Phrase: {{celebrity.catchPhrase}}</h5>
    <br>
    <a href="/celebrities">Back to Celebrities</a>
</div>