<div id="movie-show">
    <h2>{{title}}</h2>
    <br>
    <h3>Title: {{movie.title}}</h3>
    <h4>Genre: {{movie.genre}}</h4>
    <h5>Plot: {{movie.plot}}</h4>
        <br>
        <a href="/movies">Back to Movies</a>
</div>